@page "/"

<PageTitle>Home</PageTitle>

<div class="my-3">
    Welcome to your new app.
</div>

<div class="my-3 bg-gray-800 text-sm text-white rounded-md p-4 dark:bg-white dark:text-gray-800" role="alert">
  <span class="font-bold">Dark</span> alert! You should check in on some of those fields below.
</div>